.git
*.eggs
*.egg-info
.env
.DS_Store # macOS specific ignore
.vscode
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
docker-compose.override.yml
