{# Copyright 2020 Curtin University
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Author: Richard Hosking, James Diprose #}

WITH fundref_transformed AS (
  SELECT
    UPPER(TRIM(SUBSTR(funder, 19))) as funder,
    * EXCEPT(funder)
  FROM `{{ crossref_fundref.project_id }}.{{ crossref_fundref.dataset_id }}.{{ crossref_fundref.table_id }}` as fundref
)

SELECT
    crossref.doi as doi,
    ARRAY_AGG(STRUCT(funder, fundref)) as funders,
FROM `{{ crossref_metadata.project_id }}.{{ crossref_metadata.dataset_id }}.{{ crossref_metadata.table_id }}` as crossref, UNNEST(crossref.funder) as funder
LEFT JOIN fundref_transformed as fundref on fundref.funder = funder.doi
GROUP BY crossref.doi