{#
  # Copyright 2020 Curtin University
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #   http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.

  # Author: Richard Hosking, James Diprose

  This query takes the raw WOS data, and creates unique DOI -> grid list combinations
#}
SELECT
  UPPER(TRIM(doi))         AS doi,
  MAX(wos_title)           AS wos_title,
  MAX(wos_abstract)        AS wos_abstract,
  MAX(wos_source)          AS wos_source,
  MAX(wos_conference_id)   AS wos_conference_id,
  MAX(wos_conference)      AS wos_conference,
  MAX(wos_sortdate)        AS wos_sortdate,
  MAX(wos_fund_ack)        AS wos_fund_ack,
  MAX(wos_keywords)        AS wos_keywords,
  MAX(wos_doi)             AS wos_doi,
  MAX(wos_issn)            AS wos_issn,
  MAX(wos_eissn)           AS wos_eissn,
  MAX(wos_isbn)            AS wos_isbn,
  MAX(wos_eisbn)           AS wos_eisbn,
  MAX(wos_art_no)          AS wos_art_no,
  MAX(wos_meeting_abs)     AS wos_meeting_abs,
  MAX(wos_xref_doi)        AS wos_xref_doi,
  MAX(wos_id)              AS wos_id,
  MAX(wos_parent_book_doi) AS wos_parent_book_doi,
  ARRAY_AGG(grid_id)       AS grids
FROM `{{ project_id }}.{{ dataset_id }}.wos`
WHERE wos IS NOT NULL AND doi IS NOT NULL
GROUP BY UPPER(TRIM(doi))
