{#
  Copyright 2020 Curtin University.
  Authors: James Diprose, Richard Hosking

  The purpose of this script it to export the events section from any of the aggregration tables (country, institution, group, etc)
  Primarily, the goal is to create what is a nested array, and turn that into a flat table that can be exported into Elasticsearch for use with Kibana
#}
SELECT
  id                        AS {{ aggregate }}_id,
  name                      AS {{ aggregate }}_name,
  country                   AS {{ aggregate }}_country,
  country_code              AS {{ aggregate }}_country_code,
  region                    AS {{ aggregate }}_region,
  subregion                 AS {{ aggregate }}_subregion,
  coordinates               AS {{ aggregate }}_coordinates,
  DATE(time_period, 12, 31) AS published_year,
  events.source             AS events_source,
  events.total_outputs      AS events_total_outputs,
  events.num_oa_outputs     AS events_num_oa_outputs,
  events.num_green_outputs  AS events_num_green_outputs,
  events.num_gold_outputs   AS events_num_gold_outputs
FROM `{{ project_id }}.{{ dataset_id }}.{{ table_id }}{{ release_date.strftime('%Y%m%d') }}`,
UNNEST(events) AS events
ORDER BY id, published_year ASC