

SELECT
  country.alpha3 as id,
  country.wikipedia_name as name,
  'country' as entity_type,
  FORMAT("logos/country/sm/%s.svg", country.alpha3) as logo_sm,
  FORMAT("logos/country/md/%s.svg", country.alpha3) as logo_md,
  FORMAT("logos/country/md/%s.svg", country.alpha3) as logo_lg,
  country.wikipedia_url,
  country.subregion as subregion,
  country.region as region,
  country.alpha2 as alpha2, -- used for country flags
  CASE
      WHEN country.alpha3 = 'GBR' THEN ARRAY<STRING>[country.alpha3, country.alpha2, 'UK']
      ELSE ARRAY<STRING>[country.alpha3, country.alpha2]
  END as acronyms,
  logo_sm
  aggregate_data.stats as stats,
  years_agg.years,
  repositories.repositories
FROM `{{ country_table_id }}` as country
