CREATE TEMP FUNCTION calcPercent(numerator FLOAT64, denominator FLOAT64)
RETURNS FLOAT64
AS (
  SAFE_DIVIDE(numerator * 100 , denominator)
);

CREATE TEMP FUNCTION removeDiacritics(input STRING)
  RETURNS STRING
  LANGUAGE js AS """
    return input.normalize('NFD').replace(/[\u0300-\u036f]/g, '');
""";


CREATE TEMP FUNCTION includeOutput(ids ARRAY<STRING>, publicationYear INT64)
RETURNS BOOL
AS (
  ARRAY_LENGTH(ids) > 0 AND (publicationYear BETWEEN {{ start_year }} AND {{ end_year }})
);

CREATE TEMP FUNCTION removeRorPrefix(str STRING)
RETURNS STRING
AS (
  REGEXP_REPLACE(str, r'^https?://ror\.org/', '')
);