{% include 'functions.sql.jinja2' with context %}
{% include 'data.sql.jinja2' with context %}

SELECT
  removeRorPrefix(ror.id) as id,
  ror.name,
  STRUCT(
    CAST(NULL AS STRING) as text,
    CAST(NULL AS STRING) as license,
    CAST(NULL AS STRING) as url
  ) as description,
  'institution' as entity_type,
  CAST(NULL AS STRING) as logo_sm,
  CAST(NULL AS STRING) as logo_md,
  CAST(NULL AS STRING) as logo_lg,
  (SELECT * from ror.links LIMIT 1) AS url,
  REGEXP_REPLACE(ror.wikipedia_url, r'^http://', 'https://') AS wikipedia_url,
  country.region as region,
  country.subregion as subregion,
  country.alpha3 as country_code,
  country.wikipedia_name as country_name,
  (SELECT * from ror.types LIMIT 1) AS institution_type,
  (SELECT MIN(publication_year) FROM UNNEST(years_agg.years)) as start_year,
  (SELECT MAX(publication_year) FROM UNNEST(years_agg.years)) as end_year,
  ror.acronyms,
  aggregate_data.n_citations,
  aggregate_data.n_outputs,
  aggregate_data.oa_status,
  years_agg.years,
  entity_repositories.repositories
FROM `{{ ror_table_id }}` as ror
LEFT OUTER JOIN `{{ country_table_id }}` as country ON ror.country.country_code = country.alpha2
LEFT JOIN aggregate_data ON aggregate_data.id = ror.id
LEFT JOIN years_agg ON years_agg.id = ror.id
LEFT JOIN entity_repositories ON entity_repositories.id = ror.id
LEFT JOIN `{{ institution_ids_table_id }}` AS institution_ids ON institution_ids.ror_id = ror.id
WHERE ARRAY_LENGTH(years) > 0
AND (n_outputs >= {{ inclusion_threshold }} OR institution_ids.ror_id IS NOT NULL)
ORDER BY oa_status.open.percent DESC