{# Copyright 2022 Curtin University
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Author: James Diprose #}

SELECT DISTINCT TRIM(oa_location.repository_institution) as repository_institution
FROM `{{ project_id }}.{{ dataset_id }}.unpaywall` as unpaywall, UNNEST(unpaywall.oa_locations) as oa_location
WHERE oa_location.host_type = "repository" AND oa_location.repository_institution IS NOT NULL AND TRIM(oa_location.repository_institution) != ""
ORDER BY repository_institution ASC